@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@import './styles.css';

/*
  TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
  The following line adds:
    1. Default typography styles for all components
    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
  If you specify typography styles for the components you use elsewhere, you should delete this line.
  If you dont need the default component typographies but still want the hierarchy styles,
  you can delete this line and instead use:
    @include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());
*/
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$fitness-palette: (
  50: #e0f4fa,
  100: #b0e2f3,
  200: #7ccfeb,
  300: #48bce3,
  400: #11799b,
  500: #00a1dc,
  600: #0093ce,
  700: #19aee0,
  800: #0070a8,
  900: #005189,
  contrast: (
    50: #272727,
    100: #272727,
    200: #272727,
    300: #272727,
    400: #fbfbfb,
    500: #fbfbfb,
    600: #fbfbfb,
    700: #fbfbfb,
    800: #fbfbfb,
    900: #fbfbfb
  ),
  A100: #c97b84,
  A200: #fba900,
  A400: #c97b84,
  A700: #fba900
);
$my-primary: mat.define-palette($fitness-palette, 400);
$my-accent: mat.define-palette($fitness-palette, A100, A200, A400, A700);
$my-warn: mat.define-palette(mat.$red-palette);

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../assets/fonts/open-sans-condensed-v12-latin-300.eot');
  src: url('../../assets/fonts/OpenSans-CondLight.ttf') format('truetype'),
    url('../../assets/fonts/open-sans-condensed-v12-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/open-sans-condensed-v12-latin-300.woff') format('woff'),
    url('../../assets/fonts/open-sans-condensed-v12-latin-300.woff2') format('woff2');
}

/* Comprobar el funcionamiento de la letra en bold en internet Explorer */
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../assets/fonts/open-sans-condensed-v12-latin-300.eot');
  src: local('Open Sans Bold'), local('Open Sans Bold'),
    url('../../assets/fonts/OpenSans-CondBold.ttf') format('truetype'),
    url('../../assets/fonts/open-sans-condensed-v12-latin-300.eot?#iefix') format('embedded-opentype');
}

// $custom-typography: mat.define-legacy-typography-config(
//   $font-family: "Open Sans Condensed"
// );

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/inter/Inter.eot');
  src: url('../../assets/fonts/inter/Inter-Regular.ttf') format('truetype'),
    url('../../assets/fonts/inter/Inter.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/inter/Inter.woff') format('woff'),
    url('../../assets/fonts/inter/Inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../../assets/fonts/inter/Inter.eot');
  src: local('Inter Bold'), local('Open Sans Bold'), url('../../assets/fonts/inter/Inter-Bold.ttf') format('truetype'),
    url('../../assets/fonts/inter/Inter.eot?#iefix') format('embedded-opentype');
}

$custom-typography: mat.define-legacy-typography-config(
  $font-family: 'Inter'
);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      error: $my-warn,
      warn: $my-warn
    ),
    typography: $custom-typography
  )
);

@include mat.legacy-core();

@include mat.all-legacy-component-themes($my-theme);
@include mat.all-component-themes($my-theme);

@include mtx.all-component-themes($my-theme);


label {
  font-family: 'Inter';
}
