.card-buttons {
    max-width: 20%;
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
    background-color: rgb(241, 241, 241);
}

.title-custom {
    color: #2b2c43; /* Cambia esto por el color que prefieras */
    font-size: 1.5em;
    text-align: center;
    transition: color .3s;
  }
  
  .title-custom:hover {
    color: #616281; /* Cambia esto por el color que prefieras */
  }

  